@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-incline-section: 20px
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color)
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color)
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-incline-section);
    text-align: center;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}

img {
    height: 50%;
    width: 50%;
    padding: 50px;
}
.container_con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7rem;
    
}
.container_con img{
    height: 250px;
    width: 250px;
}
.teams{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: var(--accent-color)
}